* {
  margin: 0;
  padding: 0;
}

.container1 {
  width: 96%;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background: #EEEEEE;
}

#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
#header .header-_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48%;
}
#header .header-_menu-_svg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 26%;
}
#header .header-_menu-_svg a {
  border-bottom: 1px solid #011F3A;
}
#header .header-_menu a {
  color: #011F3A;
  font-weight: 400;
  font-size: 14px;
}
#header .header-_account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 9%;
}
#header .header-_account a {
  font-weight: 400;
  font-size: 14px;
  color: #011F3A;
}

#hero {
  background: #F2AE4D;
}
#hero .hero {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero-_title-_h1 {
  font-weight: 400;
  font-size: 48px;
  color: #011F3A;
}
#hero .hero-_title-_h3 {
  font-weight: 400;
  font-size: 15px;
  color: #011F3A;
  padding: 32px 0 20px 0;
}
#hero .hero-_title-_btn {
  background: #3D5675;
  border-radius: 44px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  padding: 17px 27px;
}
#hero .hero-_img {
  margin-right: -71px;
}

#logo {
  padding: 13px 0;
}
#logo .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
#logo .logo h4 {
  padding: 0 0 0 10px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.6px;
  color: #A1A1A1;
}
#logo .logo-_shopify {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo .logo-_amazon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}
#logo .logo-_eco {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#lets {
  padding: 130px 0;
}
#lets .lets h1 {
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
  text-align: center;
  color: #011F3A;
}
#lets .lets-_btn {
  padding: 20px 0;
  text-align: center;
}
#lets .lets-_btn-_btn1 {
  margin: 0 10px 0 0;
  background: #3D5675;
  border-radius: 44px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  padding: 10px 25px;
}
#lets .lets-_btn-_btn2 {
  margin: 0 0 0 10px;
  background: #FFFFFF;
  border-radius: 44px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #3D5675;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  padding: 10px 25px;
}

#footer {
  padding: 50px 0;
  background: #F2F3F4;
}
#footer .footer {
  display: flex;
  justify-content: space-between;
}
#footer .footer h2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 33px;
  color: #3D5675;
}
#footer .footer-_masseg-_icons {
  color: #3D5675;
}
#footer .footer-_masseg-_icons i {
  padding: 20px 0 0 0;
}
#footer .footer-_input input {
  margin: 10px 0 15px 0;
  background: #FFFFFF;
  border-radius: 34px;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgba(61, 86, 117, 0.4);
  outline: none;
  padding: 8px 30px 8px 20px;
  border: none;
}
#footer .footer-_input-_btn {
  background: #3D5675;
  border-radius: 44px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  padding: 10px 20px;
}

/*# sourceMappingURL=style.css.map */
